::ng-deep .mat-tab-header {
  position: fixed !important;
  width: 100%;
  z-index: 12;
}

::ng-deep .mat-tab-body-wrapper {
  margin-top: 50px;
}

mat-tab-group {
  height: 100%;
}

::ng-deep .mat-tab-body {
  overflow: auto !important;
}

::ng-deep .mat-tab-body-content {
  overflow: auto !important;
}
