<mat-tab-group [selectedIndex]="selectedTab"
               [dynamicHeight]="true"
               (selectedIndexChange)="selectedTab = $event"
               [@.disabled]="true">
  <mat-tab *ngFor="let tab of tabs">

    <ng-template mat-tab-label>
      <div (auxclick)="removeTab(tab)">
        {{tab.title}}
        <button mat-icon-button
                style="margin-left:4px"
                (click)="removeTab(tab); $event.preventDefault()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-container #dynamic></ng-container>
  </mat-tab>
</mat-tab-group>