<mat-nav-list dense>
  <mat-list-item *ngFor="let job of jobs"
                 style="height:36px"
                 (auxclick)="showMenu(job)"
                 (click)="showDetails(job)">

    <div mat-line>
      {{job.definition.title}}

      <ng-container [ngSwitch]="job.status">

        <ng-container *ngSwitchCase="JobStatus.Running">
          <small class="text-nowrap"
                 *ngIf="job.currentProgress && job.currentProgress.message && job.currentProgress.message.length">
            ({{job.currentProgress.message}})
          </small>
        </ng-container>

        <small *ngSwitchDefault
               class="text-nowrap"
               [ngClass]="{'tim-text-primary': job.status === JobStatus.Success, 
                'tim-text-warn': job.status === JobStatus.Errored || job.status === JobStatus.Cancelled }">
          {{job.status}}
        </small>
      </ng-container>
    </div>

    <div mat-line>
      <tim-job-progress-bar [job]="job"></tim-job-progress-bar>
    </div>

  </mat-list-item>
</mat-nav-list>