<mat-card>
  <h2>
    <mat-icon class="tim-text-primary">iso</mat-icon>
    {{manifest.name}}:{{manifest.tag}}
  </h2>
  <p *ngIf="history[0].author">
    Author: {{history[0].author}}
  </p>
  <p *ngIf="history[0].created">
    Created: {{history[0].created | date:'short'}}
  </p>
  <p *ngIf="history[0].os">
    OS: {{history[0].os}} {{history[0].architecture}}
  </p>
  <p *ngIf="history[0].docker_version">
    Built with Docker v{{history[0].docker_version}}
  </p>
</mat-card>

<mat-card *ngIf="baseConfig.Labels && (baseConfig.Labels|keys).length">
  <h3>
    <mat-icon class="tim-text-primary">label</mat-icon>
    Labels
  </h3>
  <div *ngFor="let label of baseConfig.Labels | keyvalue">
    <b>{{label.key | titlecase}}</b>
    {{label.value}}
  </div>
</mat-card>

<mat-card *ngIf="baseConfig.Env && baseConfig.Env.length">
  <h3>
    <mat-icon class="tim-text-primary">confirmation_number</mat-icon>
    Environment Variables
  </h3>
  <pre><ng-container *ngFor="let env of baseConfig.Env">{{env+"\n"}}</ng-container></pre>
</mat-card>