<form #editForm="ngForm"
      fxLayout="column"
      fxLayoutGap="16px"
      style="padding: 16px;"
      (ngSubmit)="save()">

  <mat-card fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px">

    <mat-icon class="tim-icon-48 tim-text-primary">edit</mat-icon>

    <div fxFlex="fill">
      <h2 class="tim-text-title"
          style="margin:0">
        Edit Applications
      </h2>
      <p>
        Custom Templates can be provided to extend Timoneer's "Quick Templates".
      </p>
    </div>
  </mat-card>

  <mat-card>
    <h3>
      <mat-icon>device_hub</mat-icon>
      External sources
    </h3>
    <p>
      Add a set of URLs to fetch Templates from.
    </p>
    <button type="button"
            mat-raised-button
            (click)="addSource()"
            color="primary">
      Add external source
    </button>
    <tim-application-edit-external-source [sources]="externalSourcesArray"></tim-application-edit-external-source>
  </mat-card>

  <mat-card>
    <h3>
      <mat-icon>code</mat-icon>
      Local Templates
    </h3>
    <p>
      A JSON array of Templates.
    </p>
    <mat-form-field [formGroup]="form">
      <textarea matInput
                rows="16"
                name="json"
                required
                style="background: #303030;padding:8px;"
                formControlName="localTemplates"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px">

    <mat-icon class="tim-icon-48 tim-text-primary">save</mat-icon>

    <div fxFlex="fill">
      <h3 class="tim-text-title"
          style="margin:0">
        Save Changes
      </h3>
    </div>
    <div>
      <button mat-raised-button
              [disabled]="editForm.invalid"
              type="submit"
              color="primary">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </mat-card>
</form>