<mat-card *ngIf="!valid; else repoListTemplate"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px"
          style="margin-bottom: 16px;">
  <mat-icon class="tim-icon-48 tim-text-primary">settings</mat-icon>

  <div fxFlex="grow">
    <ng-container *ngIf="loading; else settingsTemplate">
      <tim-loading></tim-loading>
    </ng-container>
    <ng-template #settingsTemplate>
      <h2 style="margin: 0">
        <span class="tim-text-title">
          Docker Hub is not Configured
        </span>
      </h2>
    </ng-template>
  </div>
  <a fxFlex
     mat-raised-button
     (click)="openSettings()">
    Configure
  </a>
</mat-card>

<ng-template #repoListTemplate>
  <h2>
    Docker Hub /{{hubSettings.username}}
    <small>
      <a (click)="openDockerHubList()"
         style="float:right">
        View all
      </a>
    </small>
  </h2>
  <tim-docker-hub-repo-list></tim-docker-hub-repo-list>
</ng-template>