<mat-card *ngIf="!valid; else repoListTemplate"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px"
          style="margin-bottom: 16px;">

  <div>
    <mat-icon class="tim-icon-48 tim-text-primary">settings</mat-icon>
  </div>

  <div fxFlex="grow">
    <ng-container *ngIf="loading; else settingsTemplate">
      <tim-loading></tim-loading>
    </ng-container>
    <ng-template #settingsTemplate>
      <h2 style="margin: 0">
        <span class="tim-text-title">
          Docker Hub is not Configured
        </span>
        <br>
        <small>
          List private Docker Hub images
        </small>
      </h2>
    </ng-template>
  </div>

  <div>
    <a fxFlex
       mat-raised-button
       (click)="openSettings()">
      Configure
    </a>
  </div>
</mat-card>

<ng-template #repoListTemplate>
  <mat-card fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            style="margin-bottom: 16px;">
    <mat-icon class="tim-icon-48 tim-text-primary">iso</mat-icon>
    <div fxFlex="grow">
      <h2 style="margin: 0">
        Docker Hub
      </h2>
      <small>{{hubSettings.username}}</small>
    </div>

    <div>
      <a mat-raised-button
         color="primary"
         (click)="openDockerHubList()">
        Images
      </a>
    </div>
  </mat-card>
</ng-template>