<mat-card *ngFor="let app of applications$ | async"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px">
  <mat-icon class="tim-icon-48 tim-text-primary">developer_mode</mat-icon>
  <div fxFlex="grow">
    <h2>
      <span class="tim-text-title">
        {{app.title}}
      </span>
      <br>
      <small>
        {{app.description}}
      </small>
    </h2>
  </div>

  <div>
    <a fxFlex
       mat-raised-button
       color="primary"
       (click)="openAppTab(app)">
      Launch
    </a>
  </div>
</mat-card>