<div fxLayout="row"
     fxLayoutAlign="center start"
     style="margin-top: 16px">
  <form [formGroup]="form"
        (ngSubmit)="save()"
        fxLayout="column"
        fxFlex="90"
        fxFlex.gt-md="60">

    <mat-card fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="8px"
              style="margin-bottom: 16px;">
      <mat-icon class="mat-icon-48 mat-text-primary">settings</mat-icon>
      <div>
        <h1 class="mat-text-primary"
            style="margin:0">
          Application settings
        </h1>
        <p style="margin:0">
          These configuration is stored in your browser only!
        </p>
      </div>
    </mat-card>

    <div fxLayout="column"
         fxLayout.gt-xs="row"
         fxLayoutGap="16px"
         style="margin-bottom: 16px;">

      <mat-card fxFlex.gt-xs="50">

        <h2 class="mat-text-primary">
          <mat-icon>iso</mat-icon>
          Registries

          <button type="button"
                  style="float:right"
                  [disabled]="!canAddRegistry()"
                  (click)="createRegistry()"
                  mat-raised-button>
            Add Registry
          </button>
        </h2>

        <div style="margin-top: 16px; max-height: 400px; overflow-y:auto;">
          <mat-card *ngFor="let ctrl of registriesArray.controls"
                    style="margin: 8px;"
                    [ngClass]="{'bg-invalid': ctrl.invalid}"
                    fxLayout="column"
                    fxLayout.gt-sm="row"
                    fxLayoutAlign.gt-sm="start center"
                    fxLayoutGap="8px">

            <ng-container *ngIf="getRegistryFromGroup(ctrl) as registry">
              <div fxFlex="fill">
                <h2>
                  {{registry.url}}
                </h2>
                <p *ngIf="registry.username">
                  Username:
                  <b>{{registry.username}}</b>
                </p>
              </div>
              <button type="button"
                      (click)="editRegistry(ctrl)"
                      mat-raised-button>
                Edit
              </button>
              <button type="button"
                      *ngIf="registry.editable"
                      color="warn"
                      (click)="removeRegistry(registry)"
                      mat-raised-button>
                Remove
              </button>
            </ng-container>
          </mat-card>
        </div>
      </mat-card>

      <mat-card fxFlex.gt-xs="50"
                [ngClass]="{'bg-invalid': daemonGroup.invalid}"
                [formGroup]="daemonGroup">

        <h2 class="mat-text-primary">
          <mat-icon>computer</mat-icon>
          Docker Daemon
        </h2>

        <mat-form-field>
          <input type="url"
                 matInput
                 formControlName="url"
                 placeholder="Docker Daemon URL"
                 name="daemon-url">
        </mat-form-field>

        <p>
          Note that you must expose your Daemon's API through HTTP/S for Timoneer to work. Unix Sockets will not work.
        </p>

      </mat-card>

    </div>

    <mat-card fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="8px"
              style="margin-bottom: 16px;">
      <mat-icon class="mat-icon-48 mat-text-primary">save</mat-icon>

      <div fxFlex="fill">
        <h3 class="mat-text-primary"
            style="margin:0">
          Save settings
        </h3>
      </div>

      <div>
        <button mat-raised-button
                [disabled]="form.invalid"
                color="primary">
          <mat-icon>save_alt</mat-icon>
          Save
        </button>
      </div>
    </mat-card>

  </form>
</div>