<div fxLayout="column"
     fxLayoutAlign.gt-sm="center start"
     fxLayout.gt-sm="row"
     fxLayoutGap="16px"
     style="padding:16px;">

  <div fxFlex.gt-sm="50">
    <h2>Status report</h2>

    <tim-daemon-status-card></tim-daemon-status-card>

    <tim-docker-hub-config-status></tim-docker-hub-config-status>

    <tim-registry-config-status></tim-registry-config-status>

    <tim-image-source-card-list [minPriority]="0"></tim-image-source-card-list>
  </div>

  <div fxFlex.gt-sm="50">
    <h2>
      Quick Templates
      <small>
        <a (click)="openApps()"
           style="float:right">
          View all
        </a>
      </small>
    </h2>
    <tim-application-list></tim-application-list>
  </div>
</div>