<div fxLayout="column"
     fxLayoutAlign.gt-sm="center start"
     fxLayout.gt-sm="row"
     fxLayoutGap="16px"
     style="padding:16px;">

  <div fxFlex.gt-sm="50">
    <h2>Status report</h2>

    <tim-daemon-status-card></tim-daemon-status-card>

    <tim-hub-settings-card></tim-hub-settings-card>

    <mat-card fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="8px"
              *ngIf="!registries.length"
              style="margin-bottom: 16px;">
      <mat-icon class="tim-icon-48 mat-text-primary">settings</mat-icon>
      <div fxFlex="grow">
        <h2 style="margin: 0">
          <span class="mat-text-primary">
            Add Registries
          </span>
          <br>
          <small>
            You can add your custom registry so we can list your images.
          </small>
        </h2>
      </div>

      <a fxFlex
         mat-raised-button
         [routerLink]="['/settings/']">
        Add
      </a>
    </mat-card>

    <ng-container *ngIf="registries">
      <div *ngFor="let registry of registries">
        <h2>
          {{registry.name}}
          <small>
            <a [routerLink]="['/registry', registry.name]"
               style="float:right">
              View all
            </a>
          </small>
        </h2>
        <tim-registry-list [registryUrl]="registry.url"
                           [amount]="2"></tim-registry-list>
      </div>
    </ng-container>

  </div>

  <div fxFlex.gt-sm="50">
    <h2>
      Quick Templates
      <small>
        <a routerLink="/applications"
           style="float:right">
          View all
        </a>
      </small>
    </h2>
    <tim-application-list></tim-application-list>
  </div>
</div>