<mat-card fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px"
          *ngIf="loading || !registries.length"
          style="margin-bottom: 16px;">
  <div>
    <mat-icon class="tim-icon-48 tim-text-primary">iso</mat-icon>
  </div>
  <div fxFlex="grow">

    <ng-container *ngIf="loading">
      <tim-loading></tim-loading>
    </ng-container>

    <h2 style="margin: 0"
        *ngIf="registries && !registries.length">
      <span class="tim-text-title">
        Add Registries
      </span>
      <br>
      <small>
        List private registry images
      </small>
    </h2>
  </div>

  <div>
    <a *ngIf="!loading"
       mat-raised-button
       (click)="openSettings()">
      Add
    </a>
  </div>
</mat-card>

<ng-container *ngIf="registries && registries.length">
  <mat-card fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            style="margin-bottom: 16px;"
            *ngFor="let registry of registries">
    <mat-icon class="tim-icon-48 tim-text-primary">iso</mat-icon>
    <div fxFlex="grow">
      <h2 style="margin: 0">
        {{registry.name}}
      </h2>
      <small>{{registry.username}}</small>
    </div>

    <div>
      <a mat-raised-button
         color="primary"
         (click)="openRegistry(registry.name)">
        Images
      </a>
    </div>
  </mat-card>
</ng-container>