<div fxLayout="row"
     fxLayoutAlign="center start"
     style="margin-top: 16px">

  <div fxFlex="90"
       fxFlex.gt-md="60"
       fxLayout="column"
       style="padding:16px;">

    <h1 class="mat-display-1"
        style="text-align: center; margin-bottom: 32px">
      New Container
    </h1>

    <tim-container-create [initialImage]="initialImage"
                          [disableImage]="false"
                          (created)="containerCreated($event)"></tim-container-create>
  </div>

</div>