<div fxLayout="row"
     fxLayoutGap="16px">

  <button mat-raised-button
          [disabled]="!canAddVolumeBinding()"
          color="accent"
          type="button"
          (click)="addVolumeBinding()">
    Add Volume Mapping
  </button>

  <mat-chip-list multiple="false"
                 *ngIf="filteredVolumes && filteredVolumes.length">
    <mat-chip *ngFor="let volume of filteredVolumes"
              class="cursor-pointer"
              [title]="volume.description"
              (click)="addVolumeBinding(volume)">{{volume.containerPath}}</mat-chip>
  </mat-chip-list>
</div>


<div style="max-height: 400px; overflow:auto; margin-top: 8px">
  <mat-card *ngFor="let mapping of volumeBindingsArray.controls"
            [formGroup]="mapping"
            [ngClass]="{'bg-invalid': mapping.invalid}"
            style="margin:16px">

    <p *ngIf="mapping.value.description">
      {{mapping.value.description}}
    </p>

    <mat-form-field style="display: block">
      <input type="string"
             matInput
             formControlName="containerPath"
             placeholder="Container Path">
    </mat-form-field>

    <mat-form-field style="display: block">
      <input type="string"
             matInput
             formControlName="hostPath"
             placeholder="Host Path">
    </mat-form-field>

    <mat-checkbox formControlName="readonly">
      Read-only
    </mat-checkbox>

    <button type="button"
            style="float:right"
            color="warn"
            (click)="removeVolumeBinding(mapping)"
            mat-raised-button>
      Remove
    </button>
  </mat-card>
</div>