<div fxLayout="row"
     fxLayoutGap="16px">

  <button mat-raised-button
          [disabled]="!canAddVolumeBinding()"
          color="accent"
          type="button"
          (click)="addVolumeBinding()">
    Add Volume Mapping
  </button>

  <!-- Suggested volumes -->
  <mat-chip-list multiple="false"
                 *ngIf="filteredVolumes && filteredVolumes.length">
    <mat-chip *ngFor="let volume of filteredVolumes"
              class="cursor-pointer"
              [title]="volume.description"
              (click)="addVolumeBinding(volume)">{{volume.containerPath}}</mat-chip>
  </mat-chip-list>
</div>

<div style="max-height: 400px; overflow:auto; margin-top: 8px">
  <mat-card *ngFor="let mapping of volumeBindingsArray.controls"
            [formGroup]="mapping"
            [ngClass]="{'bg-invalid': mapping.invalid}"
            style="margin:16px">

    <!-- Description -->
    <p *ngIf="mapping.value.description">
      {{mapping.value.description}}
    </p>

    <!-- Container Path -->
    <mat-form-field style="display: block">
      <input type="string"
             matInput
             formControlName="containerPath"
             placeholder="Container Path">
    </mat-form-field>

    <div fxLayout="column"
         fxLayout.gt-md="row"
         fxLayoutGap="8px"
         style="margin-bottom: 6px">
      <div>
        Map to
      </div>
      <mat-radio-group formControlName="type">
        <mat-radio-button value="bind">
          Host Directory
        </mat-radio-button>
        <mat-radio-button value="volume">
          Docker Volume
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <ng-container [ngSwitch]="mapping.value.type">
      <!-- Directory binding -->
      <ng-container *ngSwitchCase="VolumeBindingType.Bind">
        <!-- Host Path -->
        <mat-form-field style="display: block">
          <input type="string"
                 matInput
                 formControlName="hostPath"
                 placeholder="Host Path">
        </mat-form-field>

      </ng-container>

      <!-- Volume mapping -->
      <ng-container *ngSwitchCase="VolumeBindingType.Volume">
        <!-- Volume name -->
        <mat-form-field style="display: block">
          <input type="text"
                 matInput
                 autocomplete="off"
                 formControlName="volumeName"
                 placeholder="Volume"
                 [matAutocomplete]="autoGroup"
                 #trigger="matAutocompleteTrigger"
                 (click)="trigger.openPanel()">
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-option *ngFor="let volume of availableVolumes$ | async"
                        [value]="volume.Name">
              {{volume.Name}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>

      </ng-container>
    </ng-container>

    <!-- Read Only -->
    <mat-checkbox formControlName="readonly">
      Read-only
    </mat-checkbox>

    <button type="button"
            style="float:right"
            color="warn"
            (click)="removeVolumeBinding(mapping)"
            mat-raised-button>
      Remove
    </button>
    <div style="clear: both"></div>
  </mat-card>
</div>