<split direction="vertical"
       gutterSize="4"
       [disabled]="!settingsValid">

  <split-area size="70">

    <split direction="horizontal"
           gutterSize="4">

      <!-- Sidenav area -->
      <split-area size="20">
        <tim-sidenav-container></tim-sidenav-container>
      </split-area>

      <!-- Main area -->
      <split-area size="80">
        <tim-tabs-container></tim-tabs-container>
      </split-area>
    </split>
  </split-area>

  <!-- Container List Area -->
  <split-area size="30"
              *ngIf="settingsValid">
    <tim-footer-container></tim-footer-container>
  </split-area>

</split>