<div fxLayout="column"
     timSplit
     style="height:100%">

  <div fxFlex="97%"
       fxFlex.gt-lg="98%"
       timSplitArea>

    <div fxLayout="row"
         timSplit
         fxFlexFill>

      <div fxFlex="20%"
           timSplitArea>
        <tim-sidenav-container></tim-sidenav-container>
      </div>

      <div fxFlex="80%"
           timSplitArea>
        <tim-tabs-container></tim-tabs-container>
      </div>
    </div>
  </div>

  <div fxFlex="3%"
       fxFlex.gt-lg="2%"
       class="tim-bg-accent">
    <tim-footer-container></tim-footer-container>
  </div>
</div>