<mat-tab-group [(selectedIndex)]="selectedTab"
               [dynamicHeight]="true"
               (focusChange)="tabFocusChanged($event)"
               (animationDone)="animationDone()"
               [@.disabled]="true"
               class="tim-main-tabs">
  <mat-tab *ngFor="let tab of tabs">

    <ng-template mat-tab-label>
      <div (auxclick)="$event.which === 2 ? removeTab(tab) : openTabMenu(tab)">
        {{tab.configuration.title}}
        <button mat-icon-button
                style="margin-left:4px"
                (click)="removeTab(tab); $event.preventDefault()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-container #tabTemplate></ng-container>
  </mat-tab>
</mat-tab-group>