@import '~xterm/dist/xterm.css';
@import '~@angular/material/theming';
@import 'timoneer-theme';
@import 'application.variables';
@import 'app-components';
@import 'material-helper';
/**
    Material Core Classes
**/

@include mat-core();
/**
    Theming Classes
**/

:not(input):not(textarea):not(button):not(button .mat-button-wrapper),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.timoneer-theme {
  @include angular-material-theme($timoneer-theme);
  @include app-components-theme($timoneer-theme);
  @include expose-material-theme-classes($timoneer-theme);
  .bg-invalid {
    background-color: rgb(251, 217, 214) !important;
  }
}

.timoneer-dark-theme {
  @include angular-material-theme($timoneer-dark-theme);
  @include app-components-theme($timoneer-dark-theme);
  @include expose-material-theme-classes($timoneer-dark-theme);
  .tim-text-title {
    color: whitesmoke;
  }
  .bg-invalid {
    background-color: #6d0a02 !important;
  }
}

/** General Classes **/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% !important;
  background-color: whitesmoke
}

a:link,
a:visited,
a:focus,
a:hover {
  color: inherit;
}

/** Uilitie Classes **/

.cursor-pointer {
  cursor: pointer !important;
}

.text-nowrap {
  white-space: nowrap;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.mat-tooltip.tooltip {
  font-size: 12px;
}

.app-modal {
  width: 80vw;
  &.full-height {
    height: 60vh;
  }
}

.mat-raised-button {
  min-width: 64px !important;
}
