<ng-template #loadingTemplate>
  <tim-loading></tim-loading>
</ng-template>
<mat-card *ngIf="error"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="8px">
  <mat-icon class="tim-text-warn tim-icon-48">highlight_off</mat-icon>
  <div fxFlex="fill">
    <h2>
      {{error}}
    </h2>
  </div>
</mat-card>
<ng-container *ngIf="!loading; else loadingTemplate">

  <mat-card *ngFor="let repo of repositories"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px">
    <mat-icon class="tim-text-primary tim-icon-48">iso</mat-icon>
    <div fxFlex="fill">
      <h2>
        {{repo}}
      </h2>
    </div>

    <div>
      <a mat-raised-button
         color="primary"
         [routerLink]="['/docker/containers/create']"
         [queryParams]="{image: getImageName(repo) | async}">
        New Container
      </a>
    </div>
  </mat-card>

</ng-container>