<div style="min-width: 25vw">
  <h3>
    Select a Tag
  </h3>
  <mat-form-field style="width: 99%">
    <input type="search"
           placeholder="Type to search.."
           [formControl]="searchFormControl"
           matInput>
  </mat-form-field>

  <cdk-virtual-scroll-viewport itemSize="50"
                               style="min-height: 20vh; ">
    <mat-nav-list>
      <mat-list-item *cdkVirtualFor="let tag of tags"
                     (click)="tagSelected(tag)">
        {{tag}}
      </mat-list-item>
    </mat-nav-list>
  </cdk-virtual-scroll-viewport>
</div>