<h1 mat-dialog-title>
  Registry
</h1>

<form [formGroup]="registryFormGroup">
  <mat-form-field>
    <input type="url"
           matInput
           formControlName="url"
           placeholder="Url">
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           matInput
           formControlName="username"
           placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <input type="password"
           matInput
           formControlName="password"
           placeholder="Password">
  </mat-form-field>
  <p>
    This password is stored in plain text!
  </p>

  <div fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="8px">

    <div fxFlex="30">
      <mat-checkbox formControlName='enableCaching'>
        Enable Cache
      </mat-checkbox>
    </div>

    <div fxFlex="grow">
      <mat-form-field>
        <input type="number"
               matInput
               formControlName="cacheDurationInMinutes"
               placeholder="Cache Duration in Minutes">
      </mat-form-field>
    </div>
  </div>

  <p *ngIf="registryFormGroup.value.enableCaching">
    Data from this registry will be cached for the amount of minutes you specify.
  </p>

</form>

<div style="margin:16px 0"
     *ngIf="loading">
  <tim-loading></tim-loading>
</div>

<div fxLayout="row"
     *ngIf="!loading"
     style="margin-top: 16px;">
  <div fxFlex="fill">
    <button mat-raised-button
            [mat-dialog-close]="">
      Cancel
    </button>
  </div>
  <button mat-raised-button
          color="primary"
          [disabled]="registryFormGroup.invalid"
          (click)="confirm()"
          cdkFocusInitial>
    Confirm
  </button>
</div>