<mat-sidenav opened
             style="display:block; height:100%;"
             fxLayout="column">

  <mat-nav-list fxFlex="grow">

    <a mat-list-item
       (click)="openDashboard()">
      <span mat-list-icon>
        <img class="logo"
             [src]="timoneerLogo"
             style="height:40px; vertical-align: middle; margin-top:-8px; margin-left:-8px;">
      </span>
      <h4 mat-line>Dashboard</h4>
      <p mat-line>Timoneer's Dashboard</p>
    </a>

    <a mat-list-item
       (click)="openApplications()">
      <mat-icon mat-list-icon>developer_mode</mat-icon>
      <h4 mat-line>Applications</h4>
      <p mat-line>Container Templates</p>
    </a>

    <a mat-list-item
       (click)="openDockerImages()">
      <mat-icon mat-list-icon>iso</mat-icon>
      <h4 mat-line>Images</h4>
      <p mat-line>Docker Images</p>
    </a>

    <a mat-list-item
       (click)="openDockerVolumes()">
      <mat-icon mat-list-icon>storage</mat-icon>
      <h4 mat-line>Volumes</h4>
      <p mat-line>Docker Volumes</p>
    </a>

    <a mat-list-item
       (click)="openSystem()">
      <mat-icon mat-list-icon>devices</mat-icon>
      <h4 mat-line>System</h4>
      <p mat-line>Docker System Info</p>
    </a>

  </mat-nav-list>

  <mat-nav-list>

    <a mat-list-item
       (click)="openSettings()">
      <mat-icon mat-list-icon>settings</mat-icon>
      <h4 mat-line>Settings</h4>
      <p mat-line>
        Timoneer v{{appVersion}}
      </p>
    </a>

    <a mat-list-item
       (click)="openSettings()"
       *ngIf="updateStatus === UpdaterStatus.Outdated || updateStatus === UpdaterStatus.PendingInstall">
      <h4 mat-line>
        <span class="tim-bg-primary"
              style="padding:4px; font-weight: bold; margin-right: 6px;">
          NEW
        </span>
        <small>
          {{updateStatusText}}
        </small>
      </h4>
    </a>

  </mat-nav-list>

</mat-sidenav>