<mat-sidenav opened
             style="display:block; height:100%;"
             fxLayout="row">

  <div fxLayout="column">
    <mat-nav-list fxFlex="grow">

      <a mat-list-item
         matTooltipPosition="right"
         (click)="openDashboard()">
        <span mat-list-icon>
          <img class="logo"
               [src]="timoneerLogo"
               style="height:40px; vertical-align: middle; margin-top:-8px; margin-left:-8px;">
        </span>
      </a>

      <a mat-list-item
         matTooltipPosition="right"
         matTooltip="Containers"
         (click)="openContainers()">
        <mat-icon mat-list-icon>computer</mat-icon>
      </a>

      <a mat-list-item
         matTooltipPosition="right"
         matTooltip="Applications"
         (click)="openApplications()">
        <mat-icon mat-list-icon>developer_mode</mat-icon>
      </a>

      <a mat-list-item
         matTooltipPosition="right"
         matTooltip="Images"
         (click)="openDockerImages()">
        <mat-icon mat-list-icon>iso</mat-icon>
      </a>

      <a mat-list-item
         matTooltipPosition="right"
         matTooltip="Volumes"
         (click)="openDockerVolumes()">
        <mat-icon mat-list-icon>storage</mat-icon>
      </a>

      <a mat-list-item
         matTooltipPosition="right"
         matTooltip="System"
         (click)="openSystem()">
        <mat-icon mat-list-icon>devices</mat-icon>
      </a>
    </mat-nav-list>

    <mat-nav-list>

      <a mat-list-item
         *ngIf="updateStatus === UpdaterStatus.Outdated || updateStatus === UpdaterStatus.PendingInstall"
         class="tim-bg-primary"
         matTooltipPosition="right"
         [matTooltip]="updateStatusText"
         (click)="openSettings()">
        <b>
          NEW
        </b>
      </a>

      <a mat-list-item
         (click)="openSettings()">
        <mat-icon mat-list-icon>settings</mat-icon>
      </a>
    </mat-nav-list>
  </div>

  <div fxFlex="grow"
       fxLayout="column"
       style="overflow: hidden">

    <div fxFlex="grow">
      <h4 class="list-title">
        <mat-icon>computer</mat-icon>
        Running Containers
      </h4>

      <mat-nav-list>
        <tim-container-list [all]="false">

          <ng-template let-container
                       let-loading="loading">

            <mat-list-item style="height:32px"
                           [matTooltip]="container.Image"
                           matTooltipPosition="right"
                           (click)="!loading ? attach(container.Names[0], container.Id) : null">
              <small mat-line>{{container.Names[0]}}</small>
              <div mat-line
                   *ngIf="loading">
                <tim-loading></tim-loading>
              </div>
            </mat-list-item>

          </ng-template>
        </tim-container-list>
      </mat-nav-list>

    </div>

    <h4 class="list-title"
        *ngIf="jobList.filteredJobs && jobList.filteredJobs.length">
      <mat-icon>computer</mat-icon>
      Running Jobs
    </h4>

    <tim-job-list #jobList
                  [status]="JobStatus.Running"></tim-job-list>

  </div>

</mat-sidenav>