<div *ngIf="containerInfo">

  <tim-container-header-card [containerId]="containerInfo.Id"
                             [containerName]="containerInfo.Name"
                             [containerState]="containerInfo.State.Status"
                             [imageName]="containerInfo.Config.Image"
                             [hiddenButtons]="hiddenButtons">
  </tim-container-header-card>

  <mat-card *ngIf="portMappings && portMappings.length">
    <h3>
      <mat-icon class="tim-text-primary">network_wifi</mat-icon>
      Port bindings:
    </h3>
    <ul>
      <li *ngFor="let mapping of portMappings">
        <span title="Container Port">{{mapping.containerPort}}</span>
        <mat-icon>arrow_right_alt</mat-icon>
        <b title="Host Port">{{mapping.hostPort}}</b>
      </li>
    </ul>
  </mat-card>

  <mat-card *ngIf="containerInfo.Mounts && containerInfo.Mounts.length">
    <h3>
      <mat-icon class="tim-text-primary">storage</mat-icon>
      Volumes
    </h3>
    <ul>
      <li *ngFor="let mapping of containerInfo.Mounts">
        <span title="Container Path">{{mapping.Destination}}</span>
        <mat-icon>arrow_right_alt</mat-icon>
        <b title="Volume">{{mapping['Name']}}</b> ({{mapping['Type']}})
      </li>
    </ul>
  </mat-card>

  <mat-card>
    <h3>
      <mat-icon class="tim-text-primary">confirmation_number</mat-icon>
      Environment Variables
    </h3>
    <pre><ng-container *ngFor="let env of containerInfo.Config.Env">{{env+"\n"}}</ng-container></pre>
  </mat-card>

  <mat-card *ngIf="labels && labels.length">
    <h3>
      <mat-icon class="tim-text-primary">label</mat-icon>
      Labels
    </h3>
    <ul>
      <li *ngFor="let label of labels">
        {{label.key}}: <b>{{label.value}}</b>
      </li>
    </ul>
  </mat-card>
</div>