<form fxLayout="column"
      [formGroup]="form"
      (ngSubmit)="launch()">

  <tim-image-selector-card formControlName="image"
                           (imageLoaded)="imageSelected($event)">
  </tim-image-selector-card>

  <div fxLayout="column"
       fxLayout.gt-xs="row"
       fxLayoutGap="16px"
       style="margin-bottom: 16px;">

    <!-- Port Mappings -->
    <mat-card fxFlex.gt-xs="50">

      <h2 class="tim-text-title">
        <mat-icon>network_wifi</mat-icon>
        Ports Mapping
      </h2>
      <tim-container-create-port-mapping [image]="imageData"
                                         [portBindingsArray]="portBindingsArray"
                                         [suggestedPorts]="suggestedPorts">
      </tim-container-create-port-mapping>
    </mat-card>

    <!-- Volume Mappings -->
    <mat-card fxFlex.gt-xs="50">

      <h2 class="tim-text-title">
        <mat-icon>storage</mat-icon>
        Volume Mapping
      </h2>
      <tim-container-create-volume-mapping [volumeBindingsArray]="volumeBindingsArray"
                                           [suggestedVolumes]="suggestedVolumes">
      </tim-container-create-volume-mapping>
    </mat-card>
  </div>

  <mat-card fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            style="margin-bottom: 16px;"
            [formGroup]="form.get('launchConfig')">

    <mat-icon class="tim-icon-48 tim-text-primary">developer_mode</mat-icon>

    <div fxFlex="fill">
      <h3 class="tim-text-title"
          style="margin:0">
        Launch new container
      </h3>

      <div>
        <mat-form-field>
          <input type="text"
                 matInput
                 formControlName="command"
                 placeholder="Command">
        </mat-form-field>
        <span *ngIf="imageData">
          Default:
          <code>{{imageData.Config.Cmd|json}}</code>
        </span>
      </div>

      <mat-form-field>
        <input type="text"
               matInput
               formControlName="containerName"
               placeholder="Container Name">
      </mat-form-field>

      <mat-checkbox formControlName="tty"
                    style="margin-left:8px;">TTY</mat-checkbox>
    </div>
    <div>
      <button mat-raised-button
              [disabled]="form.invalid"
              type="submit"
              color="primary">
        <mat-icon>publish</mat-icon>
        Launch
      </button>
    </div>
  </mat-card>

</form>