<div fxLayout="column"
     style="height: 40vh; min-width: 40vw;">

  <div>
    <h1>
      {{job.definition.title}}
      <small [ngClass]="{'tim-text-primary': job.status === JobStatus.Running, 
      'tim-text-accent': job.status === JobStatus.Success,
      'tim-text-warn': job.status === JobStatus.Errored || job.status === JobStatus.Cancelled }">
        {{job.status}}
      </small>
    </h1>
  </div>

  <div fxFlex="grow"
       style="overflow-y:auto">

    <ng-container *ngIf="job.status === JobStatus.Errored">
      <mat-card class="tim-bg-warn"
                style="max-width: 40vw">
        {{job.error.message}}
      </mat-card>
    </ng-container>

    <tim-job-logs-renderer [job]="job"></tim-job-logs-renderer>

  </div>

  <div fxLayout="row"
       fxLayoutGap="16px">

    <div fxFlex="grow">
      <button mat-raised-button
              *ngIf="job.status === JobStatus.Running"
              color="warn"
              (click)="job.cancel()">
        Cancel
      </button>
    </div>

    <div>

      <button *ngIf="isDialog"
              mat-raised-button
              mat-dialog-close
              style="float:right;">
        Close
      </button>
    </div>
  </div>
</div>