<div style="padding:16px;">

  <mat-card fxLayout="row"
            fxLayoutGap="8px">
    <div>
      <mat-icon class="tim-icon-48 tim-text-primary">iso</mat-icon>
    </div>
    <div fxFlex="grow">
      <form [formGroup]="filterForm">
        <mat-form-field style="width: 99%">
          <input type="search"
                 placeholder="Type to search.."
                 formControlName="term"
                 matInput>
        </mat-form-field>
      </form>
    </div>
    <div style="padding-top:16px; text-align: right"
         [formGroup]="filterForm">

      <mat-checkbox formControlName="displayDanglingImages">
        Show Dangling Images
      </mat-checkbox>
    </div>
  </mat-card>

  <tim-image-source-list (sourceChanged)="sourceChanged($event)"
                         [initialSource]="initialSource"
                         [filterForm]="filterForm">
  </tim-image-source-list>
</div>